:root {
    --primary-bg: #0b0C10;
    --secondary-bg: #1f2833;
    --highlight-font: #66fcf1;
    --highlight-second-font: #45a29e;
    --font: #c5c6c7;
    --white: #FFFFFF;
    --black: #000000;
}
html {
    scroll-behavior: smooth;
}
html, body {
    background-color: var(--primary-bg);
    margin-top: 0px;
}

header {
  margin-bottom: 10vh;
}

/* navbar */
.navbar {
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    margin-right: 50px;
    padding: 0 20px 0 10px;
}
.navbar h1, .navbar a {
    color: var(--highlight-font);
    text-decoration: none;
}
.nav-list a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-right: 25px;
}
.nav-list a:hover {
    color: var(--highlight-font);
}


/* Homepage movies */

.movie-collection {
  display: flex;
  align-items: start;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 12vw;
  margin: 3vw 8px 0 8px;
}

.movie-card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.movie-card a img:hover {
  transform: scale(1.1);
}

.movie-card, .single-movie-card h3 {
  color: var(--white);
  min-height: 50px;
}

.movie-card, .single-movie-card p {
  color: var(--font);
}

.movie-card h3 {
  font-size: 16px;
}

.movie-card p {
  font-size: 12px;
}
/* <----------------> */

/* Single movie page */

.movie-player video {
  width: 100vw;
  height: 90vh;
}

.single-movie-card {
  margin: 0 5vw 0 5vw;
  display: flex;
  align-items: start;
}

.single-movie-card img {
  width: 15%;
}

.movie-info {
  margin: 2vh 2vw 2vh 2vw;
}

.movie-info .genres {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.movie-info .genres span {
  color: var(--font);
  background-color: #333333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}
/* <----------------> */

/* Add and Edit Movies */
.add-movie, .edit-movie {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-movie, .edit-movie {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font);
  flex-wrap: wrap;
}

.add-movie h1, .edit-movie h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--highlight-font);
  width: 100vw;
}

.add-movie-form, .edit-movie-form {
  background-color: var(--secondary-bg);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100vw;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font);
}

.add-movie-form label, .edit-movie-form label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: var(--highlight-second-font);
}

.add-movie-form textarea, .edit-movie-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--font);
  border-radius: 5px;
  background-color: var(--primary-bg);
  color: var(--font);
  font-size: 14px;
  resize: vertical; /* Hanya memungkinkan resize vertikal */
  min-height: 100px; /* Tinggi minimum untuk textarea */
}

.add-movie-form textarea:focus, .edit-movie-form textarea:focus {
  outline: none;
  border-color: var(--highlight-font);
  background-color: var(--secondary-bg);
  transition: 0.3s;
}

/* Input umum */
.add-movie-form input[type="text"], .edit-movie-form input[type="text"], 
.add-movie-form input[type="checkbox"], .edit-movie-form input[type="checkbox"], 
.add-movie-form input[type="file"], .edit-movie-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--font);
    border-radius: 5px;
    background-color: var(--primary-bg);
    color: var(--font);
    font-size: 14px;
    cursor: pointer; /* Memberikan pointer untuk file input */
}

/* Styling input file khusus */
.add-movie-form input[type="file"], .edit-movie-form input[type="file"] {
    padding: 8px;
    border: 1px dashed var(--font); /* Gaya border berbeda untuk file */
    background-color: var(--secondary-bg);
}

.add-movie-form input[type="file"]:hover, .edit-movie-form input[type="file"]:hover {
    border-color: var(--highlight-second-font);
}

.add-movie-form input[type="file"]:focus, .edit-movie-form input[type="file"]:focus {
    outline: none;
    border-color: var(--highlight-font);
    background-color: var(--primary-bg);
    transition: 0.3s;
}


/* Styling checkbox agar sejajar dengan teks */
.add-movie-form input[type="checkbox"], .edit-movie-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.add-movie-form input[type="text"]:focus, .edit-movie-form input[type="text"]:focus {
  border-color: var(--highlight-font);
  outline: none;
  transition: 0.3s;
}

.add-movie select, .edit-movie select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--font);
  border-radius: 5px;
  background-color: var(--primary-bg);
  color: var(--font);
  font-size: 14px;
  cursor: pointer;
}

.add-movie select:hover, .edit-movie select:hover {
  border-color: var(--highlight-second-font);
}

.add-movie select:focus, .edit-movie select:focus {
  outline: none;
  border-color: var(--highlight-font);
  background-color: var(--secondary-bg);
  transition: 0.3s;
}

.add-movie select option, .edit-movie select option {
  background-color: var(--primary-bg);
  color: var(--font);
}

.add-movie-form button, .edit-movie-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--highlight-font);
  color: var(--primary-bg);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.add-movie-form button:hover, .edit-movie-form button:hover {
  background-color: var(--highlight-second-font);
  color: white;
}

/* Mengatur spasi antar-elemen */
.add-movie-form form, .edit-movie-form form {
  display: flex;
  flex-direction: column;
}

.sucess-crud {
  padding-top: 5vh;
  color: var(--white);
  font-size: 20px;
  text-align: center;
}
.sucess-crud-redirect {
  padding-top: 5vh;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.sucess-crud-redirect:hover {
  width: 100vw;
  padding-top: 5vh;
  color: var(--highlight-font);
  font-size: 20px;
  font-size: large;
  text-decoration: none;
}
/* <----------------> */

/* Admin Dashboard */
.movie-collection {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5vw 0 5vw;
}

.add-movie-btn {
  background-color: var(--highlight-font);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
.add-movie-btn a {
  text-decoration: none;
  color: var(--black);
}
.add-movie-btn:hover {
  transform: scale(1.1);
}

.movie-collection h1 {
  text-align: center;
  width: 100vw;
  color: var(--highlight-font);
}

.movie-collection table {
  border: 1;
  border-color: var(--white);
}

.movie-collection th {
  background-color: var(--secondary-bg);
  padding: 8px;
  color: var(--white);
}

.movie-collection tr td {
  padding: 8px;
  width: 100vw;
  color: var(--font);
  text-align: center;
}

.movie-collection tr td a {
  text-decoration: none;
}
.movie-collection tr td a:link {
  color: var(--white);
}
.movie-collection tr td a:visited {
  color: var(--highlight-second-font);
}
.movie-collection tr td a:hover, a:active {
  color: var(--highlight-font);
}
/* <--------------> */

/* Login page and register page */
.login-page, .register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--secondary-bg);
}

.login-form, .register-form {
  background-color: var(--primary-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-form h1, .register-form h1 {
  text-align: center;
  font-size: 24px;
  color: var(--highlight-font);
  margin-bottom: 20px;
}

.login-form label, .register-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--highlight-second-font);
}

.login-form input, .register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--highlight-font);
  border-radius: 4px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--primary-bg);
}

.login-form input:focus, .register-form input:focus {
  border-color: var(--highlight-font);
  outline: none;
  background-color: var(--primary-bg);
}

.login-form button, .register-form button {
  width: 100%;
  background-color: var(--highlight-font);
  color: var(--black);
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover, .register-form button:hover {
  background-color: var(--highlight-second-font);
  color: var(--white);
}